body, h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", sans-serif }
h4, h5, h6 { margin-top: 20px }

h1 { font-size: 32px }
h2 { font-size: 24px }

#main { padding-top: 100px }

.post .meta { margin: 15px 0; font-size: .9em; }
.post .thumbnail { float: left; width: 300px }

.post-list .meta { font-size: .8em }
.post-list hr { margin: 10px 0 }

.jumbotron-left { text-align: center; }

/** Make items in navbar centered vertically. */
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 22px;
    }
}

/* Social icons */
.social-icons a { display: inline-block; height: 64px; width: 64px; background: no-repeat center center; margin: 5px; border-radius: 5px }
.social-icons a.facebook { background: #3b5998 url('/images/icons/facebook-64.png') }
.social-icons a.rss { background: #ff8300 url('/images/icons/rss-64.png') }
.social-icons a.twitter { background: #00aced url('/images/icons/twitter-64.png') }

/* Wrapper div for videos to make them resize responsively. */
.responsive-video { position: relative; padding-bottom: 52.75%; padding-top: 30px; height: 0; overflow: hidden; }
.responsive-video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Customizations for the mailchimp subscribe form */
#mc_embed_signup #mce-responses { margin-top: 12px }
#mc_embed_signup #mce-error-response { color: #f0ad4e; display:none }
#mc_embed_signup #mce-success-response { color:#5cb85c; display:none }

/**
 * Hack to make footer always appear on the bottom of the page
 * See: http://stackoverflow.com/questions/10099422/flushing-footer-to-bottom-of-the-page-twitter-bootstrap
 */
html, body { height: 100% }
#wrap { min-height: 100% }
#main { overflow:auto; padding-bottom: 250px } /* important: bottom padding > footer height */
footer { position: relative; margin-top: -220px; height: 220px; clear:both }
footer { color: white; background-color: #1f2c39; padding: 30px 0 }
