{% comment %}

Renders the mailchimp subscription form.

{% endcomment %}

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
    <form action="http://zgphp.us6.list-manage.com/subscribe/post?u=3499d05fe9ad1751bcc52fad1&amp;id=3b184efa6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" role="form" novalidate="novalidate">
        <p><strong>Primajte najave meetupa na email</strong></p>
        <div class="form-group">
            <label class="sr-only" for="mce-EMAIL">Email</label>
            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Unesite email adresu">
        </div>
        <button type="submit" class="btn btn-default" name="subscribe" id="mc-embedded-subscribe">Pretplati se</button>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/js/mailchimp.js"></script>
<!--End mc_embed_signup-->
