<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/images/logo/zgphp_text_300x30.png" alt="Zagreb php::meetup"/>
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="/news">Novosti</a></li>
                <li><a href="/talks">Predavanja</a></li>
            </ul>
        </div>
    </div>
</header>
