<aside class="sidebar">
    <section>
        {% include next-meetup.html %}
    </section>

    <hr />

    <section>
        <h4>Pratite nas</h4>
        <div class="social-icons">
            <a class="twitter" href="https://twitter.com/zgphp"></a>
            <a class="facebook" href="https://www.facebook.com/pages/ZgPHP-Meetups/283755581662319"></a>
            <a class="rss" href="/feed.xml"></a>
        </div>
    </section>

    <hr />

    <section>
        <h4>Postani predavač</h4>
        <p>Uvijek tražimo nove predavače. Predavačko iskustvo nije preduvjet.</p>
        <a class="btn btn-small btn-default btn-block" href="mailto:zgphpmeetup@gmail.com?subject=Prijava predavanja">Prijavi predavanje</a>
    </section>

    <hr />

    <section>
        <h4>IRC kanal #zgphp</h4>
        <p>Za druženje između meetupova nađite nas na IRC kanalu <span class="text-primary">#zgphp</span> na freenode.net.</p>
        <a class="btn btn-small btn-default btn-block" href="http://webchat.freenode.net/?channels=zgphp">IRC web sučelje</a>
    </section>
</aside>
