<aside class="sidebar">
    <div class="sidebar-item">
        <h4>Idući meetup</h4>
        <strong>ZgPHP Meetup #26</strong><br />
        17.10.2013 @ 17:30<br />
        Net klub Mama, Preradoviceva 18, Zagreb
    </div>

    <hr />

    <div class="sidebar-item">
        <h4>Pratite nas</h4>
        <div class="social-icons">
            <a class="twitter" href="https://twitter.com/zgphp"></a>
            <a class="facebook" href="https://www.facebook.com/pages/ZgPHP-Meetups/283755581662319"></a>
            <a class="rss" href="/feed.xml"></a>
        </div>
    </div>
</aside>
