<a class="twitter-timeline"
    href="https://twitter.com/zgphp"
    height="400"
    data-chrome="nofooter"
    data-dnt="true"
    data-show-replies="false"
    data-widget-id="385725820418789376">Tweets by @zgphp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
