<!DOCTYPE html>
{% assign url = page.url|remove:'index.html' %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="ZgPHP Meetup" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ url }}" />
    {% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
    <meta property="og:image" content="{{ site.url }}/images/logo/zgphp.png" />
    {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />{% else %}<meta property="og:description" content="{{ page.title }}" />{% endif %}

    {% if url == '/' %}
    <title>ZgPHP Meetup</title>
    {% else %}
    <title>{{ page.title }} - ZgPHP Meetup</title>
    {% endif %}

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,latin-ext">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <link rel="alternate" href="{{ site.url }}/feed.xml" type="application/rss+xml" title="ZgPHP Meetup - Sve" />
    <link rel="alternate" href="{{ site.url }}/news/feed.xml" type="application/rss+xml" title="ZgPHP Meetup - Novosti" />
    <link rel="alternate" href="{{ site.url }}/talks/feed.xml" type="application/rss+xml" title="ZgPHP Meetup - Predavanja" />

    <!--[if lt IE 9]>
    <script src="dist/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

{{ content }}

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/site.js"></script>
</html>
